<div *ngIf="success" class="success">
    <h1>Successfully Saved</h1>
    <span>Thank you for your contribution to the worlds blood donation network.</span><br>
    <span>You can edit or delete your submission at below link</span><br>
    <a href="/donors-detail?donor_id={{donor._id}}&donor_private={{donor.private_id}}">
        {{host}}/donors-detail?donor_id={{donor._id}}&donor_private={{donor.private_id}}</a>
    <br><br>
    <button (click)="resetForm()">Add another donor</button><br>
    <span>Please make a note of the above link</span>
</div>
<div *ngIf="!success" class="dm-container">
    <map-component (coordsReceived)="setCoords($event)" [parent_component]="component_name" #map></map-component>
    <div class="donor-container" *ngIf="rawDonor.coordinates.latitude>=-90 && rawDonor.coordinates.latitude <= 90
                && rawDonor.coordinates.longitude>=-180 && rawDonor.coordinates.latitude <= 180">
        <table cellpadding="6" cellspacing="6">
            <tr><td style="min-width:8em">First Name:</td>
                <td>
                    <input type='text' [(ngModel)]="rawDonor.name.first" />
                    <br>
                    <div class="errorbox" *ngIf="errors.indexOf('name.first')!=-1">First name required</div>
                </td>
            </tr>
            <tr><td>Last Name</td>
                <td>
                    <input type='text' [(ngModel)]="rawDonor.name.last" />
                    <br>
                    <div class="errorbox" *ngIf="errors.indexOf('name.last')!=-1">Invalid last name</div>
                </td>
            </tr>
            <tr><td >Contact Number</td>
                <td>
                    <input type='text' [(ngModel)]="rawDonor.contact_number" />
                    <br>
                    <div class="errorbox" *ngIf="errors.indexOf('contact_number')!=-1">Invalid contact number.<br> Valid pattern is 00xxxxxxxxxxxx or +xxxxxxxxxxxx</div>
                </td>
            </tr>
            <tr><td>Email ID</td>
                <td>
                    <input type='text' [(ngModel)]="rawDonor.email" />
                    <br>
                    <div class="errorbox" *ngIf="errors.indexOf('email')!=-1">Invalid Email Id</div>
                </td>
            </tr>
            <tr><td>Blood Group</td>
                <td>
                    <input type='text' [(ngModel)]="rawDonor.blood_group" />
                    <br>
                    <div class="errorbox" *ngIf="errors.indexOf('blood_group')!=-1">Blood group can be a,b,ab,o/A,B,AB,O +/- (ex: AB+)</div>
                </td>
            </tr>
            <tr><td colspan="2" align="center"><span class="error"*ngIf="errors.indexOf('coordinates.latitude')!=-1">Select a point on map</span></td></tr>
            <tr><td colspan="2" align="center"><span class="error"*ngIf="errors.indexOf('coordinates.longitude')!=-1">Select a point on map</span></td></tr>
            <tr><td><input type="hidden" [(ngModel)]="rawDonor.coordinates.latitude"/></td>
                <td><input type="hidden" [(ngModel)]="rawDonor.coordinates.longitude"/></td></tr>
            <tr>
                <td colspan="2" align="center">
                    <button (click)="addDonor()">Save</button>
                    <button class="del" (click)="closeForm();map.clearAll();">Cancel</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div *ngIf="info" class="info">
    <i>info</i>
    Please click anywhere on the map to choose your location.
</div>