span.error{
    font-size: 10px;
    color: red;
}

map-component{
    width: 100%;
    height: 100%;
}

.donor-container{
    position: absolute;
    right: 0;
    top: 7.5em;
    background: white;
    width: 25%;
    border: 2px solid #a0a0a0;
}

.donor-container table{
    width: 100%;
}

input {
    border: 0;
    border-bottom: 1px solid teal;
}