header{
    width: 100%;
    height: 7em;
    background-color: #009688;
    position: fixed;
    z-index: 20;
    color: #009688;
    border-bottom: 1px solid #009688;
    top: 0;
    -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 1.2em;
    color: white;
    margin-bottom: 0;
    padding: 1.7em;
    display: inline-block;
    position: absolute;
    right: 0;
}
h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}
nav{
    display: inline-block;
    height: 100%;
    /*position: absolute;*/
}
nav a {
    text-decoration: none;
}
nav a:visited {
    color: white
}
nav a:hover {
    color: teal;
}
nav a.active {
    color: teal;
}

div.routerContainer{
    display: inline-block;
    padding:3em 0 0 0;
}

div.routerContainer span{
    padding: 6em 2em 3em 2em;
    background-color: #009688;
}

nav a.active div.routerContainer span, nav a:hover div.routerContainer span{
    background-color: white;
    color: teal;
    border-radius: 0.25em 0.25em 0 0;
}